* {
  box-sizing: border-box;
}

body{
  background-color: black;
}

.particles{
  width: 800px;
  height: 800px;
}

svg {
  border: 1px solid white;
}

.svg-holder {
  width: 800px;
  height: 800px;
}

#start-button {
  width: 100px;
  height: 30px;
}

.key {
  fill-opacity: 0;
}

.on {
  fill-opacity: 1;
}

.key-strike {
  animation: fade-down 500ms ease-out;
}

@keyframes fade-down {
  from{
    fill-opacity: 1;
  }
  to{
    fill-opacity: 0;
  }
}