* {
  box-sizing: border-box;
}

body{
  background-color: black;
}

.particles{
  width: 800px;
  height: 800px;
}

svg {
  border: 1px solid white;
}

.svg-holder {
  width: 800px;
  height: 800px;
}